.price-box, .sound-box, .date-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;

    i {
        font-size: 1.5rem;
    }
    
    .cash, .sound, .date {
        margin-right: 10px;
    }
}

.ant-card-actions li {
    margin: 0 !important;
    padding: 12px 0;
    &:first-child {
        background-color: #2196f3ba;
    }
    &:last-child {
        background-color: #f16724;
    }
    span {
        color: white;
        &:hover {
            color: white !important;
        }
    }
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* enter */
.fade-enter {
    display: none;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    display: initial;
    transition: all 300ms linear;
}

/* exit */
.fade-exit {
    display: initial;
}
.fade-exit.fade-exit-active {
    display: none;
    transition: all 300ms linear;
}
.fade-exit-done {
    display: none;
}